<!doctype html>
<html ng-app>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>
<body>

Busca: <input type="search" ng-model="busca">

<div  ng-controller="CtrLista">
    <ul>
        <li ng-repeat="pessoa in pessoas | filter:busca">
            {{ pessoa.nome }}, <b>{{ pessoa.cidade }}</b>
        </li>
    </ul>
</div>

<div ></div>

<script>
    var CtrLista = function($scope) {
        $scope.pessoas = [
            {nome: "Maria", cidade: "São Paulo"},
            {nome: "João", cidade: "Salvador"},
            {nome: "Tico", cidade: "Rio de Janeiro"},
            {nome: "Marta", cidade: "Belo Horizonte"},
        ];
    }
</script>
</body>
</html>