<!doctype html>
<html ng-app>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>
<body>
<div>
    <label>Primeiro Nome:</label>
    <input type="text" ng-model="firstName" placeholder="Enter a first name here">

    <label>Último Nome:</label>
    <input type="text" ng-model="lastName" placeholder="Enter a last name here">
    <hr>
    <h1>Hello {{firstName}} {{ lastName }}!</h1>
</div>
</body>
</html>