<!doctype html>
<html ng-app>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>
<body>

<div ng-controller="CtrlApp" >
    <input type="text" ng-model="nome" ng-change="loggar()">
    <input type="text" ng-model="idade" >
    <h1>{{nome}} - {{ idade * 10 }}, {{ cidade }}</h1>
</div>

<script>
    var CtrlApp = function ($scope) {
        $scope.nome = "Bruno";
        $scope.cidade = "Lagoa Santa";
        $scope.idade = 30;

        $scope.loggar = function() {
            alert($scope.nome);
        }
    };
</script>

</body>
</html>